

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/modern-business.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="vendor/bootstrap/css/CustomCss.css" rel="stylesheet">

 
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>
   <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid NavContainer">
                <a  href="index.html">
                    <img class="logo-icon" src="Images/logo.png">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About Us
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="">1 Column Portfolio</a>
                                <a class="dropdown-item" href="">2 Column Portfolio</a>
                                <a class="dropdown-item" href="">3 Column Portfolio</a>
                                <a class="dropdown-item" href="">4 Column Portfolio</a>
                                <a class="dropdown-item" href="">Single Portfolio Item</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Find Work
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="">Blog Home 1</a>
                                <a class="dropdown-item" href="">Blog Home 2</a>
                                <a class="dropdown-item" href="">Blog Post</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="">Blog Home 1</a>
                                <a class="dropdown-item" href="">Blog Home 2</a>
                                <a class="dropdown-item" href="">Blog Post</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FAQ
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="">Blog Home 1</a>
                                <a class="dropdown-item" href="">Blog Home 2</a>
                                <a class="dropdown-item" href="">Blog Post</a>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="">Contact Us</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-circle-o usericon" aria-hidden="true"></i>
                                Peter
                            </a>
                             <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="TabScreen.html#profile">My Profile</a>
                                <a class="dropdown-item" href="TabScreen.html#application">My Applications</a>
                                <a class="dropdown-item" href="TabScreen.html#bookmark">My Bookmarks</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
                    <nav>
                      <ul class="Tabs">
                        <li class="Tabs__tab active Tab"><a data-toggle="tab"  href="#profile">My Profile</a></li>
                        <li class="Tabs__tab Tab"><a data-toggle="tab" href="#application">My Applicatons</a></li>
                        <li class="Tabs__tab Tab"><a data-toggle="tab" href="#bookmark">My Bookmarks</a></li>
                        <li class="Tabs__presentation-slider" role="presentation"></li>
                      </ul>
                    </nav>
          </div>
      </div>
    </header>   

              

    <div class="tab-content">

    <div id="profile" class="tab-pane fade in active ">
        <div class="container-fluid MainContainer">
            <p class=" We-found-100-jobs-matching-your-profile"> My Profile</p>
               <div class="col-lg-12 card portfolio-item">
                    <div class="row">
                        <div class="col-lg-3 col-mb-3 portfolio-item">
                            
                                <div class="card-body">
                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Name:</label> <br/>
                                        <input type="text" name="username" class="ProfileData" value="Antony Kanini" readonly> </input>
                                       
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">National ID No:</label> <br/>
                                        <input type="text" name="username" class="ProfileData" value="12345678900" readonly> </input>
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Phone No:</label> <br/>
                                         <input type="text" name="username" class="ProfileData" value="2547 39402060587" readonly> </input>
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Email ID:</label> <br/>
                                         <input type="text" name="username" class="ProfileData" value="antony.Kanini@gmail.com" readonly>  </input>
                                    </div>
                                </div>  <!-- card-body1 end -->
                            
                        </div> <!-- col-lg-4 end -->

                        <div class="col-lg-4 col-mb-4 portfolio-item">
                            
                                <div class="card-body">
                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Gender:</label> <br/>
                                         <input type="text" name="username" class="ProfileData" value="Male" readonly> </input>
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Date Of Birth:</label> <br/>
                                         <input type="text" name="username" class="ProfileData" value="15/08/1986" readonly> </input>
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Country:</label> <br/>
                                         <input type="text" name="username" class="ProfileData" value="Nairobi" readonly> </input>
                                    </div>

                                    <div class="ProfileInfoDiv">
                                        <label class="ProfileLabel">Password:</label> <br/>
                                         <input type="Password" name="username" class="ProfileData" value="12345678900" readonly> </input>
                                         <a class="ChangePassword"> Change Password </a>
                                    </div>
                                </div>  <!-- card-body1 end -->
                            
                        </div> <!-- col-lg-4 end -->
                    </div>  <!-- row end -->
               </div>  <!-- lg-12 -->
           
        </div> <!-- /.container -->
       
    </div>


    <div id="application" class="tab-pane fade">
        <div class="container-fluid MainContainer">
             <p class=" We-found-100-jobs-matching-your-profile"> My Applications (04) </p>
            <div class="row">

                        <div class="col-lg-6 mb-6 portfolio-item">
                                        <div class="card"> 

                                            <div class="card-body1">
                                                <h4 class="jobTitle">
                                                    <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                                    <div style="float:right;">
                                                        <img src="Images/xaba_icon_small.png"/>
                                                        <img class="bookmarkImg" src="Images/bookmark_active.png"/>
                                                    </div>
                                                </h4>
                                                <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                                <div class="locationRow">

                                                    <img class="img" src="Images/datetime_icon.png"/>
                                                    <span class="-Mar-2018">23 Mar 2018 </span>
                                                    
                                                    <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                            rewards processing so you paid fast, The Crowdsourcer is one of 
                                                            the most trusted online <a class="Readmore" data-toggle="modal" data-target="#exampleModalCenter"> Read More </a>
                                                        </p>
                                                    </div>
                                                    <div class=" col-lg-3 applyDateDiv">
                                                        <div style="float: right;">
                                                            <img class="TickImg" src="Images/applied_small_tick.png"> <span class="ApplyText">Applied</span> 
                                                        </div> <br/>
                                                        <span class="AppliedDate"> On 16 April 2018</span>
                                                    </div>
                                                </div> 
                                            </div>  
                                        </div>
                        </div>

                         <div class="col-lg-6 mb-6 portfolio-item">

                                <div class="card"> 

                                    <div class="card-body1">
                                        <h4 class="jobTitle">
                                            <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                            <div style="float:right;">
                                                <img src="Images/xaba_icon_small.png"/>
                                                <img class="bookmarkImg" src="Images/bookmark_inactive.png"/>
                                            </div>
                                        </h4>
                                        <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                        <div class="locationRow">

                                            <img class="img" src="Images/datetime_icon.png"/>
                                            <span class="-Mar-2018">23 Mar 2018 </span>
                                            
                                            <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                    rewards processing so you paid fast, The Crowdsourcer is one of 
                                                    the most trusted online <a class="Readmore" data-toggle="modal" data-target="#exampleModalCenter"> Read More </a>
                                                </p>
                                            </div>
                                            <div class=" col-lg-3 applyDateDiv">
                                                <div style="float: right;">
                                                    <img class="TickImg" src="Images/applied_small_tick.png"> <span class="ApplyText">Applied</span> 
                                                </div> <br/>
                                                <span class="AppliedDate"> On 16 April 2018</span>
                                            </div>
                                        </div> 
                                    </div>  
                                </div>
                            </div>


                             <div class="col-lg-6 mb-6 portfolio-item">

                                <div class="card"> 

                                    <div class="card-body1">
                                        <h4 class="jobTitle">
                                            <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                            <div style="float:right;">
                                                <img src="Images/xaba_icon_small.png"/>
                                                <img class="bookmarkImg" src="Images/bookmark_inactive.png"/>
                                            </div>
                                        </h4>
                                        <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                        <div class="locationRow">

                                            <img class="img" src="Images/datetime_icon.png"/>
                                            <span class="-Mar-2018">23 Mar 2018 </span>
                                            
                                            <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                    rewards processing so you paid fast, The Crowdsourcer is one of 
                                                    the most trusted online <a class="Readmore" data-toggle="modal" data-target="#exampleModalCenter"> Read More </a>
                                                </p>
                                            </div>
                                            <div class=" col-lg-3 applyDateDiv">
                                                <div style="float: right;">
                                                    <img class="TickImg" src="Images/applied_small_tick.png"> <span class="ApplyText">Applied</span> 
                                                </div> <br/>
                                                <span class="AppliedDate"> On 16 April 2018</span>
                                            </div>
                                        </div> 
                                    </div>  
                                </div>
                            </div>


                             <div class="col-lg-6 mb-6 portfolio-item">

                                <div class="card"> 

                                    <div class="card-body1">
                                        <h4 class="jobTitle">
                                            <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                            <div style="float:right;">
                                                <img src="Images/xaba_icon_small.png"/>
                                                <img class="bookmarkImg" src="Images/bookmark_active.png"/>
                                            </div>
                                        </h4>
                                        <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                        <div class="locationRow">

                                            <img class="img" src="Images/datetime_icon.png"/>
                                            <span class="-Mar-2018">23 Mar 2018 </span>
                                            
                                            <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                    rewards processing so you paid fast, The Crowdsourcer is one of 
                                                    the most trusted online <a class="Readmore" data-toggle="modal" data-target="#exampleModalCenter"> Read More </a>
                                                </p>
                                            </div>
                                            <div class=" col-lg-3 applyDateDiv">
                                                <div style="float: right;">
                                                    <img class="TickImg" src="Images/applied_small_tick.png"> <span class="ApplyText">Applied</span> 
                                                </div> <br/>
                                                <span class="AppliedDate"> On 16 April 2018</span>
                                            </div>
                                        </div> 
                                    </div>  
                                </div>
                            </div>

                       

            </div>   <!-- /.row -->
                       
        </div>   <!-- /.container -->
    </div>


    <div id="bookmark" class="tab-pane fade">
         <div class="container-fluid MainContainer">
            <p class=" We-found-100-jobs-matching-your-profile">My Bookmarks (03)</p>

                        <div class="row">
                        <div class="col-lg-6 mb-6 portfolio-item ">
                            <div class="card "> 
                                <div class="card-body1">
                                   <h4 class="jobTitle" data-toggle="modal" data-target="#exampleModalCenter">
                                     <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                      <div style="float:right;">
                                          <img src="Images/xaba_icon_small.png"/>
                                           <img class="bookmarkImg" src="Images/bookmark_active.png"/>
                                       </div>
                                   </h4>
                                    <p class="by-Starwoods-Enterprise" data-toggle="modal" data-target="#exampleModalCenter"> by Starwoods enterprise </p>
                                    <div class="locationRow" data-toggle="modal" data-target="#exampleModalCenter">

                                        <img class="img" src="Images/datetime_icon.png"/>
                                        <span class="-Mar-2018">23 Mar 2018 </span>
                                                        
                                        <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-9" data-toggle="modal" data-target="#exampleModalCenter">
                                            <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                                rewards processing so you paid fast, The Crowdsourcer is one of 
                                                                the most trusted online <a class="Readmore" data-toggle="modal" data-target="#exampleModalCenter"> Read More </a>
                                            </p>
                                        </div>
                                        <div class=" col-lg-3 applyDateDiv">
                                           <div style="float: right;">
                                               <img class="TickImg" src="Images/applied_small_tick.png"> <span class="ApplyText">Applied</span> 
                                            </div> <br/>
                                                <span class="AppliedDate"> On 16 April 2018</span>
                                        </div>
                                    </div> 
                                 </div>  
                            </div>
                        </div>

                            <div class="col-lg-6 mb-6 portfolio-item">

                                <div class="card "> <!--  h-100 -->

                                    <div class="card-body1">
                                        <h4 class="jobTitle">
                                            <span class=" Looking-for-Plumber-on-Contract">Needed Accountant  work  </span> 
                                            <div style="float: right;">
                                                <img src="Images/xaba_icon_small.png"/>
                                                <img class="bookmarkImg" src="Images/bookmark_active.png"/>
                                            </div>
                                        </h4>
                                        <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                        <div class="locationRow">

                                            <img class="img" src="Images/datetime_icon.png">
                                            <span class="-Mar-2018">23 Mar 2018 </span>
                                            </img>
                                            <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                    rewards processing so you paid fast, The Crowdsourcer is one of 
                                                    the most trusted online <a class="Readmore" href=""> Read More </a>
                                                </p>
                                            </div>
                                            <div class=" col-lg-3 applybtn">

                                                <button class="btn bookmark-btn-primary">Apply</button>
                                            </div>
                                        </div> 
                                    </div>  
                                </div>
                            </div>


                            <div class="col-lg-6 mb-6 portfolio-item">

                                <div class="card "> <!--  h-100 -->

                                    <div class="card-body1">
                                        <h4 class="jobTitle">
                                            <span class=" Looking-for-Plumber-on-Contract">Live Chart Agents needed Work from home </span> 
                                            <div style="float: right;">
                                                <img src="Images/xaba_icon_small.png"/>
                                                <img class="bookmarkImg" src="Images/bookmark_active.png"/>
                                            </div>
                                        </h4>
                                        <p class="by-Starwoods-Enterprise"> by Starwoods enterprise </p>
                                        <div class="locationRow">

                                            <img class="img" src="Images/datetime_icon.png"/>
                                            <span class="-Mar-2018">23 Mar 2018 </span>

                                            <img class="locationicon img" src="Images/location_icon.png"><span class="-Mar-2018">Nairobi</span></img>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <p class="card-text">  Making customer service our clients #1 priority and offering instant 
                                                    rewards processing so you paid fast, The Crowdsourcer is one of 
                                                    the most trusted online <a class="Readmore" href=""> Read More </a>
                                                </p>
                                            </div>
                                            <div class=" col-lg-3 applybtn">

                                                <button class="btn bookmark-btn-primary">Apply</button>
                                            </div>
                                        </div> 
                                    </div>  
                                </div>
                            </div>


             </div>   <!-- /.row -->




                    </div>
                    <!-- /.container -->

    </div>
 
</div>
  
 <!-- Footer -->
                    <footer class="py-5 bg-dark">
                        <div class="container">
                            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
                        </div>
                        <!-- /.container -->
                    </footer>

    </body>